# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
*.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
venv/
env/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
